.App {
  margin-top: 5%;
  text-align: center;
}

#profileInfo {
  text-align: left;
}

/* The animation code */
@keyframes nameAnimate {
  0%   {color: black;}
  25%  {color: red;}
  50%  {color: green;}
  25%  {color: red;}
  100% {color: black;}
}
.nameAnimate {
  animation: nameAnimate 1s infinite;
}

#profileInfo > p {
  margin-bottom: 0.5em;
}

.infoIndicator {
  font-style: italic;
}

#profilePic {
  height: 380px;
}

.socialIcons {
  height: 30px;
}

.socialLinks {
  display: inline-block;
  padding: 5px;
}

.listPages {
  text-align: left;
}

.eventOrganizations {
  padding-left: 2em;
}
.eventDates {
  float: right;
}
